.dashboard-navbar-main {
    margin-top : 110px;
}

.basket-name-dialog{
  font-size : 17px;
}

.basket-info-dialog{
  font-size: 14px;
}

.new_coin_box {
  padding-left: 40px;
}

.caption {
  text-align: center;
  font-style: bold;
}

.coin_info {
  font-size: 16px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.main-container-base{
  padding-top: 60px;
  padding-bottom: 70px;
}

.balanceHeading {
  font-size : 30px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.missingTokenArea {
  margin-bottom: 12px;
}