{% load staticfiles %}

  <!DOCTYPE html>
  <html>
  <head>

  	  <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">


  	<title>LatticeProtocol</title>

  	<link href="{% static 'css/style.css' %}" rel="stylesheet">
  	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Exo+2|Libre+Franklin" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
       <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
      <style type="text/css">
          .about_x {
	        background-image: url("{% static 'images/image4.jpg' %}");
          }
      </style>

  </head>

  <body>

  <header id="navbar">
   <nav class="navbar navbar-fixed-top navbar-default">
     <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">LatticeProtocol</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       <ul class="nav navbar-nav navbar-right">
          <li><a href="#home">PROJECTS</a></li>
          <li><a href="#what_we_do">PAPERS</a></li>
          <li><a href="#promise">PURPOSE</a></li>
          <li><a href="#">TEAM</a></li>
          <li><a href="#">BLOG</a></li>
           {% if user.is_authenticated %}
                <li><a href="../../marketplace">Marketplace</a></li>
                <li><a href="../../logout">Log Out</a></li>
           {% else %}
                <li><a href="../../login">Log In</a></li>
           {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
     </div><!-- /.container-fluid -->
   </nav>
  </header>

  	<section id="home">
     <img src="{% static 'images/index_main.jpg' %}">
     <div class="home_section">
      <h1>LATTICE MARKETPLACE <br /> ENABLING A SHARED VALUE ECONOMY</h1>
      <a href="#what_we_do">GET WHITELISTED</a>
     </div>
   </section>

  	<div class="container-fluid">
  	  <section id="what_we_do">
       <h3><center>LATTICE PROTOCOL EMPOWERS SELLERS TO COLLABORATE AND DECENTRALLY DRIVE A SHARED VALUE MARKETPLACE</center></h3>
       <hr />
       <div class="container-fluid ">
         <div class="row text-center">

            <img id="personImage" src="{% static 'images/lattice_1.png' %}">
          
         </div>
      </div>

    </section>
    </div>

    <section id="dashboard">

      <div class="container-fluid">
        <div class="row work text-center">
          <h3>LEARN HOW LATTICE PROTOCOL WORKS</h3>
          <div class="col-md-4 center-block dashboardColumn">
            <h3><b>BUSINESS PAPER</b></h3>
            <p>
              This document presents a summary of the business model and the ecosystem of Lattice Protocol. In addition,
              it describes the Lattice utility token and the economic incentives driving the protocol. It is complementay
              to the Yellow Paper for Lattice Protocol.
            </p>
            <center>
              <button class="btn btn-default" onclick='open_pdf()'>Download</button>
            </center>
          </div>
          <div class="col-md-4 center-block dashboardColumn">
            <h3><b>YELLOW PAPER</b></h3>
            <p>
              This technical primer presents a short introduction to Lattice Protocol.
            </p>
            <center>TBU</center>
          </div>
          <div class="col-md-4 center-block dashboardColumn">
            <h3><b>FRAMEWORK</b></h3>
            <p>
              This document presents a summary of the business model and ecosystem of Lattice Protocol.
              In addition, it describes the logic behind the Lattice utility token and the economic incentives
              driving the Protocol. It is complementay to the yellow paper for Lattice Protocol.
            </p>
            <center>TBU</center>
          </div>
        </div>
      </div>

    </section>

    <section id="what_we_do">
     <h3><center>Our vision is to create a Globally interconnected value economy leveraging the principles of shared decentralized marketplace!!</center></h3>
     <hr />
     <div class="container-fluid ">
       <div class="row">
         <div class="col-md-6">
           <img id="triangleImage" src="{% static 'images/lattice_2.png' %}" />
         </div>
         <div class="col-md-6 aboutLatticePrototol">
           <h3>
             <b>About Lattice Protocol.</b>
           </h3>
           <p id="aboutLatticeParagraph">
             The sharing marketplace incepted with the idea of decentralization, has come
             to a standpoint of being a concentrated model, with a network strength in the
             grip of centralized organizations running them. The journey initially orchestrated
             by business models like Uber, Airbnb, Freelancer or We-Work is at a crossroad with a 
             mojor part of the network benefit going to these organizations. The global
             economy now requires a perfectly distributed marketplace, which can leverage the
             effects of shared economy while through its architecture create a ground for value
             generation through network effect.
             This opens door for us to create the next mile in decentralization ecosystem, and give
             the world a state of the art indigenously designed Lattice protocol enabling 
             a Smart digitally driven value economy.
           </p>
         </div>
       </div>
    </div>

    <section id="about_us">
       <h2>About Us</h2>
       <hr class="break"></hr>
      <div class="conatiner">
        <div class="row text-center">
          <div class="col-md-3">
             <img src="{% static 'images/profile.jpg' %}">
                <h4>Nilotpal Mukherjee</h4>
                <p>Founder & CEO</p>
          </div>
          <div class="col-md-3">
                <img src="{% static 'images/profile.jpg' %}">
                <h4>Aviraj Khare</h4>
                <p>Founder & CTO</p>
          </div>
        </div>
      </div>

    </section>

  	<section id="faq"></section>

  	<section id="contact_us"></section>

  	<section></section>

   <a href="#home" id="return-to-top"><i class="fa fa-chevron-up"></i></a>

    <footer>
        
      <!-- <div><i class="fa fa-hand-o-down"></i></div> -->
      <!-- <a href="#"><img src=" images/app.png"></a> -->
      <!-- <div class="sign_up"><a href="#">Login/SignUp</a></div> -->
      <div class="social">
       <a href=""><i class="fa fa-twitter"></i></a>
       <a href=""><i class="fa fa-facebook chat"></i></a>
       <a href=""><i class="fa fa-youtube-play red"></i></a>
       <a href=""><i class="fa fa-linkedin"></i></a>
       <a href=""><i class="fa fa-telegram"></i></a>
      </div>
      <h3>Lattice Protocol</h3>
      <p class="rights">Copyright@2018. All Rights Reserved By Lattice Protocol Engg. Ltd</p>
      
    </footer>
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src=" {% static 'js/app.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script>
        function open_pdf(){
            location.href = '{% static "assets/LatticeProtocolV1.0.pdf" %}';
        }
    </script>
  </body>
  </html>
