{% extends 'html/base.html' %}
{% block content %}
{% load staticfiles %}


    <div class="container">

        <div class="market_place_title">
            Buy and sell CryptoCurrency
        </div>

        <div class="buy_sell_container_box">
            This is buy sell area.
        </div>

        <div class="buy_sell_options">
            <ul class="nav nav-pills nav-justified">
                <li><a href="#">Buy</a></li>
                <li><a href="#">Sell</a></li>
                <li><a href="#">Transaction History</a></li>
            </ul>
        </div>

        <div class="buy_sell_table">

        </div>

    </div>


{% endblock %}