{% extends 'html/marketplace.html' %}
{% block marketplace %}
{% load staticfiles %}

    <div class="sell_view">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Buy Area.</h3>
            </div>
            <div class="panel-body">
                Some shit we will fill here!
            </div>
        </div>
        <table id="basket_buy_table" class="table table-bordered">
            <tr>
                <th>Basket Name</th>
                <th>Current Price</th>
                <th>Buy Price</th>
                <th>Expiry</th>
                <th>Negotiable</th>
                <th>Best Bid</th>
                <th>Sell</th>
            </tr>

        </table>
    </div>

    <script>

        var csrf_token = "{% csrf_token %}";

        $.ajaxSetup({async:false});

        //we will do some shit here...
        $.get('../../api/v1/fetch_buy_basket_marketplace/?action=fetch_buy_baskets', function(data){
            for(var i=0; i<data.length; i++){
                $('#basket_buy_table').append(
                    '<tr>\n' +
                        '<td>' + data[i].basket_name + '<br />' + (function(allocation_list) {var small_str = '';for (var j = 0; j < allocation_list.length; j++){small_str += allocation_list[j].coin_name + '-' + allocation_list[j].coin_qty + '/'}return small_str}(JSON.parse(data[i].json_data))) + '</td><td>' + (function(allocation_list) {var total_price = 0;for (var j = 0; j < allocation_list.length; j++) {total_price += calculate_basket_value(allocation_list[j].coin_name,allocation_list[j].coin_qty)}console.log(total_price);return total_price}(JSON.parse(data[i].json_data))) + '</td>\n' +
                        '<td>' + data[i].buy_price + '</td><td>' + data[i].expiration_date + '</td><td>' + (function(if_negotiable, basket_id){if(if_negotiable){var negotiable_dom='<form>\n'+'<input id="'+basket_id+'">\n'+'<button class="negotiable_dom_button" type="button">Negotiate</button>\n'+'</form>\n';return negotiable_dom}else{return "Not Applicable"}}(data[i].is_negotiable,data[i].basket_id)) + '</td>\n' +
                        '<td>' + data[i].best_ask + '</td></tr>\n'
                )
            }
        });

        //function to calculate basket value
        function calculate_basket_value(coin_name, coin_qty){

            var coin_mapping = {
            "Bitcoin" : "bitcoin", "Ethereum" : "ethereum", "Ripple" : "ripple", "Litecoin" : "litecoin", "Dash" : "dash", "Bitcoin Cash" : "bitcoin-cash", "NEM" : "nem", "Monero" : "monero", "NEO" : "neo", "ETC" : "ethereum-classic", "IOTA" : "iota", "BitConnect" : "bitconnect", "Lisk" : "lisk", "OmiseGo" : "omisego", "Civic" : "civic", "QTUM" : "qtum", "Vertcoin" : "vertcoin", "Stratis" : "stratis"
            };

            var api_endpoint = "https://api.coinmarketcap.com/v1/ticker/" + coin_mapping[coin_name] + '/';
            var price = 0;

            $.get(api_endpoint, function (data) {
                console.log(data);
                price = parseFloat(data[0].price_usd) * parseFloat(coin_qty);

            });

            return Number(price.toFixed(2));

        }

        $('.negotiable_dom_button').click(function(e){
            console.log($(e.target.parentNode).find('input').attr('id'));
            console.log($(e.target.parentNode).find('input').val());

            //configuring ajax and sending data to backend
            $.ajax({
                url: '../../api/v1/submit_basket_marketplace/',
                method: 'post',
                data: {
                    csrfmiddlewaretoken : $(csrf_token).attr('value'),
                    action : "save_bid_price_buy",
                    basket_id : $(e.target.parentNode).find('input').attr('id'),
                    bid_price : $(e.target.parentNode).find('input').val()
                }
            }).done(function (data) {
                console.log(data);
                window.location.reload();
            })
            });


    </script>

{% endblock %}