{% extends 'html/base.html' %}
{% block content %}
{% load staticfiles %}

    <div class="container-fluid">
        
        <div class="market_place_title">
            Music MarketPlace
        </div>
        
        <div class="pageNavbars">
            <!-- Centered Pills -->
            <ul class="nav nav-pills nav-justified">
                <li class="active"><a href="#">Buy</a></li>
                <li><a href="#">Sell</a></li>
            </ul>
        </div>
        
    </div>

{% endblock %}